


<!-- Side navigation -->
<div class="sidenav">
        <h1>Plans</h1>
            <ul> 
              <%= button_to "New plan", new_plan_path , :method => :get %>  
            <%= button_to "Groups", groups_path, :method => :get %>
             <%= button_to "Account", account_path(session[:user_id]) , :method => :get %>
            
            </ul>
      </div>
      
      <!-- Page content -->
      <div class="main">
                    
                    
                    <ul>  Monday
                    <% @monday_plans.each do |p|%>
                    <li><%= link_to p.name, plan_path(p)%>
                    <% end %></li></ul>
                    
                    
                    <ul> Tuesday 
                    <% @tuesday_plans.each do |p|%>
                    <li><%= link_to p.name, plan_path(p)%>
                    <% end %></li></ul>
                    
                    
                    <ul>  Wednesday 
                    <% @wednesday_plans.each do |p|%>
                    <li><%= link_to p.name, plan_path(p)%>
                    <% end %></li></ul>
                    
                    
                    <ul> Thursday 
                    <% @thursday_plans.each do |p|%>
                    <li><%= link_to p.name, plan_path(p)%>
                    <% end %></li></ul>
                    
                    
                    <ul>  Friday 
                    <% @friday_plans.each do |p|%>
                    <li><%= link_to p.name, plan_path(p)%>
                    <% end %></li></ul>
                    
                    
                    <ul> Saturday 
                    <% @saturday_plans.each do |p|%>
                    <li> <%= link_to p.name, plan_path(p)%>
                    <% end %></li></ul>
                    
                    
                    <ul>  Sunday 
                    <% @sunday_plans.each do |p|%>
                    <li><%= link_to p.name, plan_path(p)%>
                    <% end %></li></ul>
            

</div>
                    