<h1>New plan</h1>

   <%= form_for @plan do |f| %> <br />

   <%= f.label :location%> <br />
   <%= f.text_field :location %> <br />

   <%= f.label :name%> <br />
   <%= f.text_field :name %> <br />

   <%= f.label :day %> <br />
   <%= f.select :day, options_for_select(Plan.possible_days) %> <br />


   <%= f.label :description%> <br />
   <%= f.text_area :description%> <br />

   <%= f.submit "Sumbit"%>
<%end%> <br />


<%= button_to "Plans", plans_path , :method => :get %>