



<!-- Side navigation -->
<div class="sidenav">
        <h1> <%= @plan.name %></h1>
    
        <ul><%= button_to "Edit", edit_plan_path(@plan), :method => :get %> </ul>
        <ul> <%= button_to "Cancel", { action: "destroy", id: @plan.id },
            method: :delete, data: { confirm: "Are you sure?" } %></ul>
        <ul><%= button_to "Plans", plans_path, :method => :get %> </ul>
        <ul> <%= button_to "Account", account_path(session[:user_id]) , :method => :get %> </ul>
        
           
      </div>
      
      <!-- Page content -->
      <div class="main">
                    
            <%= @plan.location %> <br />
            <p><%= @plan.description %></p>
            
    
    </div>
    
